<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css file/index.css">
    <title>Home page</title>
</head>

<body>
    <header>
        <div class="inline" id="headerleft">
            <img src="../images/download.png" alt="logo" height="30px" class="inline">
            <a href="index">
                <h1 class="inline">Project Notes</cdh1>
            </a>
        </div>
        <nav class="inline">
            <ul>
                <li><a href="">Contact us</a></li>
                <li><a href="">Help </a></li>
                <li><a href="">Blog</a></li>
                <li><a href="login">Log in</a></li>
                <li><a href="sign"><button>Sign up</button></a></li>
            </ul>
        </nav>
    </header>
    <main class="center">
        <p class="headerh3">The simplest way to </p>
        <p class="headerh3"> keep notes</p>
        <h4>
            <p>All your notes, synced on all your devices. Get Simplenote now for iOS,</p>
            <p> Android, Mac, Windows, Linux, or in your browser.
            </p>
        </h4>
        <a href="sign"> <button id="buttons">Sign up now</button></a>
        <section>
            <img src="../images\hp_hero_note@2x__en.png" alt="background" height="900px">
        </section>
        <div class="headerh3" id="Comprehensive">
            Comprehensive underneath, simple on the surface
        </div>
        <div class="box">
            <div class="inlinebox">
                <div class="headerh4">
                    <img src="../images\ic_cloud-sync.png" alt="logo" height="20px">Use it everywhere
                </div>
                <div class="headerh4">
                    <img src="../images\ic_tags.png" alt="logo" height="20px">Stay organized
                </div>
                <div class="headerh4">
                    <img src="../images\ic_collaborate.png" alt="logo" height="20px">Work together
                </div>
            </div>
            <div class="inlinebox">
                <div class="headerh4">
                    <img src="../images\ic_history.png" alt="logo" height="20px">Go back in time
                </div>
                <div class="headerh4">
                    <img src="../images\ic_notes.png" alt="logo" height="20px">Markdown support
                </div>
                <div class="headerh4">
                    <img src="../images\ic_info.png" alt="logo" height="20px">It’s free
                </div>
            </div>
        </div>
        <div class="headerh3" id="people">What people are saying</div>
        <div class="inlinebox" id="lastcenter">
            <div>
                If you’re not using Simplenote, you’re missing out.
                <br>
                <i>TechCrunch</i>
            </div>
            <div>If you’re looking for a cross-platform note-taking tool with just enough frills, it’s hard to look
                beyond
                Simplenote.
                <br>
                <i>MacWorld</i>
            </div>
            <div>If you want a truly distraction-free environment then you can’t do better than Simplenote for your
                note-taking needs.
                <br>
                <i>Zapier</i>
            </div>
        </div>
    </main>
    <footer>
        <section class="inline" id="footer">
            <ul>
                <li><a href="">Contact us</a></li>
                <li><a href="">Help </a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Privacy</a></li>
                <li><a href="">Terms and Condition</a></li>
            </ul>
        </section>
    </footer>

</body>

</html>