<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css file/sign.css">
    <title>Sign up page</title>
</head>
<body>
    <form action="/signup" method="POST" class="form">
        <div><label for="name">Name</label></div>
        <div> <input type="text" id="name" name='name'></div>
         <div> <label for="password">Password</label></div>
         <div><input type="password" id="password" name='password'></div>
         <div> <label for="email">Email</label></div>
         <div> <input type="email" id="email" name='email'></div>
         <div> <a href="login"><input type="Submit" id="submit"></a></div>
    </form>
</body>
</html>