
@import '~antd/dist/antd.css';

/*signIn.js CSS file*/
#components-form-demo-normal-login .login-form {
    max-width:500px;
}
#components-form-demo-normal-login .login-form-forgot {
float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
float: left;
}
 .login-form-button {
width:100%
}

/*SignIn page ends*/


/*SignUp page*/

